.menu-item-font {
  font-size: 11pt;
}

.name {
  float: right;
  font-size:12pt;
  margin-right:10px;
}


.avatar-header {
  float: right;
  margin-top: 11px;
  margin-right: 15px;
  cursor: pointer;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
  float:left;
}

.trigger:hover {
  color: #00a854;
}

.logo {
  height: 32px;
  background: url('/logo_text.png') no-repeat;
  background-size: 110px;
  border-radius: 6px;
  margin: 16px;
  margin-left:20px;
}

.ant-layout-header .anticon {
  line-height: 64px;
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

.sendsms-form-button{
  width: 60%;
  float: right;
  text-align: center;
}

.icon{
  font-size:15px;
  color:#1DA57A;
}

.header-text{
  line-height: 20px;
  margin-left:5px;
}

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 90px;
  height: 90px;
}

.avatar {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
}

.avatar-uploader {
  display: block;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}
