.user-table{
    margin-top: 25px;
  }
  
  .user-table-delete{
    color:#f46e65;
  }
  
  .user-table-delete:hover{
    color:#f79992;
  }
  
  .user-table-pager {
    float:right;
    margin-top: 20px;
  }
  
  .member-info-table {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
  }
  
  .member-info-table tr td{
    border: 1px solid black;
    width:30px;
    height:40px;
  }
  
  .member-info-table-input {
    border: 0px solid white;
    text-align: center;
    font-weight: bold;
  }
  
  .exam-result-overview-info {
    margin-left: 2px;
    margin-top: 20px;
  }
  
  .exam-result-overview-anchor{
    position: absolute;
    left: 87%;
    z-index:10;
    margin-left: 5px;
  }
  