.health-result-table {
  margin-top: 25px;
}

.operation-delete, .unpass {
  color:#f46e65;
}

.unpass-check {
  margin-left: 10px;
}

.unpass-confirm:hover{
  color:#f46e65;
}

.unpass:hover{
  color:#f46e65;
}

.pass {
  color:#1DA57A;
}

.upload-file-warning{
  margin-left: 10px;
}

.ant-upload-btn{
  margin-left: 38px;
}


.ant-upload-icon {
  font-size:25px;
  color: #999;
}


.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #999;
}

.secondName {
  color:#1DA57A;
}

.health-result-detail-item-card{
  width: 300px;
  margin-top:20px;
}

.health-result-detail-item-form{
  width: 85%;
  margin-top:20px;
}

.health-result-detail-item-form .operation{
  text-align: right;
  margin-top: 10px;
}

.health-result-detail-item-form .operation .delete{
  float:left;
}

.health-result-detail-item-form .gutter{
  margin-right: 10px;
}

.health-result-detail-anchor{
  position: absolute;
  left: 86%;
  z-index:10;
}

.health-result-detail-info {
  margin-left: 2px;
  margin-top: 20px;
}


/*.health-result-detail-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}*/
